<html>
<head><title>Nouveau compte</title></head>
<body>
  <h1>Votre compte vient d'être crée</h1>

  <h3>Voici votre mot de passe temporaire pour vous connecter.</h3>
  <h3>Une fois connecté, vous serez amener à changer ce mot de passe.</h3>
  <h3 style="background-color: #FAFAFA; padding: 24px 36px; color: #272626; display: inline-block; font-size: 36px;">{{password}}</h3>
  <p>
    <a href="">Lien google play</a>
  </p>
  <p>
    <a href="">Lien apple store</a>
  </p>
</body>
</html>